
@import '../scss/mixins.scss';

#minimal {
  font-family: "Arial";
  font-size: 3em;
  margin-top: 2em;

  header {
    font-size: 0.75em;
  }

  h2 {
    animation: pulse 1500ms ease-in-out 0 infinite alternate;
  }

  .vanish {
    animation: vanish 1500ms ease-in-out 0;
  }

  .appear {
    animation: appear 1500ms ease-in-out 0;
  }
}
