
@import '../scss/mixins.scss';

#full {

  &>header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;

    text-transform: capitalize;

    z-index: 1;
    background-color: rgba(200, 200, 200, 0.75);
    border-radius: 5px;
  }
}
