<div ng-if="mode == 'video'">
  <video class="bg video" ng-if="state == 'rain'" autoplay loop muted preload>
    <source src="video/Rain.cut.mp4" type="video/mp4">
    <source src="video/Rain.cut.webm" type="video/webm">
  </video>
  <video class="bg video" ng-if="state == 'snow'" autoplay loop muted preload>
    <source src="video/Snow.cut.mp4" type="video/mp4">
    <source src="video/Snow.cut.webm" type="video/webm">
  </video>
  <video class="bg video" ng-if="state == 'clear'" loop autoplay muted preload>
    <source src="video/Clear.cut.mp4" type="video/mp4">
    <source src="video/Clear.cut.webm" type="video/webm">
  </video>
</div>
<div ng-if="mode == 'photo'" ng-class="['bg', 'photo', state]"></div>
<div id="controls">
  <div ng-click="mode = 'video'">Mode Deluxe</div>
  <div ng-click="mode = 'photo'">Mode Normal</div>
</div>
