
@import '../scss/mixins.scss';

.current-card {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em;
  z-index: 1;
  background-color: rgba(200, 200, 200, 0.75);
  padding: 30px;
  border-radius: 15px;

  transition-property: opacity, filter;
  transition-duration: 200ms;
  transition-timing-function: linear;

  .description {
    font-size: 1.5em;
    text-transform: capitalize;
  }

  .details {
    font-size: 0.75em;
  }

  .graph {
    width: 630px;
    height: 80px;
    padding: 15px;
    margin-top: 15px;
    border: 1px solid black;
    // Attention, le border-radius fait bugger le SVG
    // border-radius: 5px;
  }
}
