
@import '../scss/mixins.scss';

.graph {
  .strikeout {
    fill:none;
    stroke:black;
    stroke-width:2px;
    stroke-linecap:round;
  }

  circle {
    pointer-events: bounding-box;

    &:hover {
      stroke: blue;
    }
  }
}
