
@import '../scss/mixins.scss';

.graph {
  .strikeout {
    fill:none;
    stroke:black;
    stroke-width:2px;
    stroke-linecap:round;
  }

  circle {
    pointer-events: bounding-box;
    animation: interactive 2s ease-in-out 0 infinite alternate;

    &:hover {
      stroke: blue;
      animation: none;
    }
  }
}
