
@import '../scss/mixins.scss';

.temp {

  .borne {
    padding: 0.5em;

    &.min {
      float: left;
    }

    &.max {
      float: right;
    }
  }

  .description {
    text-transform: capitalize;
  }
}
