
@import '../scss/mixins.scss';

.wind {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  padding: 10px;

  z-index: 1;
  background-color: rgba(200, 200, 200, 0.75);
  border-radius: 5px;

  img {
    display: block;
    width: 50px;
    transition: transform 800ms ease-in-out 1s;
  }
}
