<!DOCTYPE html>
<html lang="en" ng-app="weather">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css" media="screen" type="text/css"/>
  <script src="main.js"></script>
</head>
<body ng-controller="WeatherController">
  <section id="form" ng-show="page == 'form'">
    <div id="container-front">
      Est-ce qu'il fait beau à <search-widget></search-widget>
    </div>
  </section>
  <section id="minimal" ng-show="page == 'minimal'">
    <h1>{{ minimal.message }}</h1>
    <h2 ng-repeat="feature in minimal.features">{{ feature }}</h2>
  </section>
  <section id="full" ng-show="page == 'full'">
    <video class="bg-video" ng-if="today.weather[0].main == 'Rain'" autoplay loop muted>
      <source ng-src="video/Rain.cut.mp4" type="video/mp4">
      <source ng-src="video/Rain.cut.webm" type="video/webm">
    </video>
    <video class="bg-video" ng-if="today.weather[0].main == 'Snow'" autoplay loop muted>
      <source ng-src="video/fallingsnow.cut.mp4" type="video/mp4">
      <source ng-src="video/fallingsnow.cut.webm" type="video/webm">
    </video>
    <video class="bg-video" ng-if="today.weather[0].main != 'Rain' && today.weather[0].main != 'Snow'" loop autoplay muted>
      <source ng-src="video/dawsonfalls.cut.mp4" type="video/mp4">
      <source ng-src="video/dawsonfalls.cut.webm" type="video/webm">
    </video>
    <header>{{ today.dtJour }} {{ today.dtHuman }} à <search-widget></search-widget></header>
    <wind-widget deg="today.deg" speed="today.speed"></wind-widget>
    <temp-widget temp="today.temp" descr="today.weather[0].description" mini="false" dash="604" ng-if="page == 'full'"></temp-widget>
    <forecast-widget ng-repeat="day in forecast"></forecast-widget>
  </section>
</body>
