
/*  Rideau  */

@keyframes interactive {
    0% { opacity: 1; }

    30% {  stroke: blue; }

    55% { opacity: 1; }

    70% {   stroke: red; }

    99% { opacity: 1; }
}

@keyframes clignote {
    0% { opacity: 1; }

    30% { opacity: 0.4; }

    55% { opacity: 1; }

    70% { opacity: 0.4; }

    99% { opacity: 1; }
}

@keyframes tourne {
    from { transform: rotate(1deg); }
    to { transform: rotate(359deg); }
}

@keyframes pulse {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes vanish {
    0% { opacity: 1; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes appear {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
}
