
@import '../scss/mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  width: 100vw;
  height: 100vh;
  font-family: 'Open Sans Condensed', sans-serif;
  overflow: hidden;

  input {
    font-size: 1em;
    border: none;
    border-radius: 5px;
    border-bottom: 5px dotted #ABABAB;
    outline: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(200, 200, 200, 0.35);
    text-align: center;
  }
}

section {
  position: relative;
  width: 100%;
  height: 100%;

}
